
b {
	font-family: 'Sans Serif';
}

u {
	font-family: 'Sans Serif';
}

i {
	font-family: 'Sans Serif';
}

#wrapper {
	text-align: center;
	font-size: 3vw;
}

#mission {

}

#why-pet-fashion {
	margin: 5%;

}

#our-story {

}

#dog {
	display: flex;
	width: 60%;
	margin: 10% auto 10% auto;
	border-radius: 10%;
}


#cat {
	display: flex;
	width: 60%;
	margin: 10% auto 10% auto;	
	border-radius: 50%;
}

#lizard {
	display: flex;
	width: 60%;
	margin: 10% auto 10% auto;
	border-style: solid;
	border-color: #17522D;
}





