
#wrapper {
	text-align: center;
	padding-bottom: 20%;

}

li a {
	color: black;
	text-decoration: none;
}

#mission {
	margin: 10%;
}

#why-pet-fashion {
	margin: 10%;
}

#our-story {
	margin: 10%;
}

#dog {
	border-radius: 10%;
	height: auto;
	width: auto;
	max-height: 200px;
}


#cat {
	border-radius: 50%;
	height: auto;
	width: auto;
	max-height: 200px;

}

#lizard {
	height: auto;
	width: auto;
	max-height: 200px;
	border-style: solid;
	border-color: #17522D;
}




