header {
	text-align: center;
}

nav {
	text-align: center;
	border: 1px solid black;
}

li a {
	color: black;
	text-decoration: none;
}

li {
	display: inline;
	text-decoration: none;
	padding: 1%;
}

#main {
	width: 100%;
}


#line {
	text-align: center;
}

#first {
	width: 45%;
	float: left;
	margin: auto;
}

#second {
	width: 45%;
	float: right;
	margin: auto;
}

img {
	display: flex;
	width: 100%;
}

.text {
	height: 100px;
	margin: 10px 0 40px;
	text-align: center;
}

h2 {
	text-align: center;
}

h3 {
	font-weight: lighter;
}

@media (max-width: 761px) {

	#first {
		clear: both;
		width: 90%;
	}

	#second {
		clear: both;
		width: 90%;
	}
}
