

header {
	text-align: center;
	font-size: 3.5vw;
	text-transform: uppercase;
	text-shadow: 3px 4px 10px #DEFF13;
	font-family: 'Kumar One', cursive;
}

 nav {
 	text-align: center;
 	font-size: 2.55vw;
 	border: 1px solid black;
 	margin: 10px;
 	padding: 10px;
 	font-family: 'Kumar One', cursive;
 } 

 a:hover {
 	color: blue;
 }

  a.current {
  	text-decoration: underline;
  }

 li a {
	text-decoration: none;
}

 li {
 	padding: 1%;
 	display: inline;
 	text-align: center;
 }

nav {
	background-color: slategrey;
}

nav li a {
	color: #FFAAE8;
	text-decoration: none;
}

a li {
	color: #FF39E8;
}

body {
	background-color: #BCFFFB;
	color: #FF39E8;
	font-family: 'Gloria Hallelujah', cursive;
}

footer {
	position: absolute;
	padding-top: 10%;
	padding-bottom: 0;
	text-align: left;
	font-size: 2vw;
	font-family: 'Sans Serif';
}



