.productsWindow{
	border: 3px solid black;
	height: 30%;
	margin: 2.5% 2% 2.5% 2%;
    overflow: hidden;
    text-align: center;
}

.productsWindow > h3 {
	text-align: center;
	font-size: 16;
}

.productCard {
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
    /*transition: 0.3s;*/
    border-radius: 5px; /* 5px rounded corners */
    border: 1px solid black;
    width: 30%;
    height: auto;
    margin: 2% 1% 4% 1%;
    display: inline-block;
}

.cardImage {
	max-width: 100%;
}

h1, h2 {
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav {
    text-align: center;
    border: 1px solid black;
}

img {
    width: 100%;
    height: 350px;
}

#wrapper {
    display: block;
}

h3 {
    clear: both;
}